.click-func{
  z-index: 50;
  height: 100%;
}

/*CSS for mobile*/

@media only screen and (max-width: 1025px) {
  body{
      background-color: black;
  }

  .video-div{
      opacity: 0.5;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      filter: brightness(50%);
      display: none;
  }

  .topnav {
      overflow: hidden;
      position: relative;
      top: 0;
      backface-visibility: hidden;
      z-index: 1;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: #9B85A7;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 80px;
      display: block;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .topnav a.icon {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: white;
    }
    
    
    .active {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 80px;
      color: #9B85A7;
      font-style: regular;


    }

    .title{
      position: absolute;
      right: 25%;
      color: white;
      top: 35%;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 40px;

    }
    
    .ScrollImg{
      position: absolute;
      bottom: 100px;
      right: 44%;
      height: 100px;
      width: auto;
  
      
  }

  img {  
    width: 150px;  
    height: auto;  
    }  

    .ScrollText{
      grid-area: ScrollText;
      color: #FFFFFF;
      font-family: Trebuchet;
      font-size: 25px;
      position: absolute;
      bottom: 5px;
      right: 42%;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .header-list{
      display: none;
  }

  #copy{
    display:none;
  }

  .ScrollImgDesktop{
    display:none;
  }

  .ScrollTextDesktop{
    display: none;
  }
}


/* CSS for desktop-based */

@media only screen and (min-width: 1025px) {
/* Add a black background color to the top navigation */
.topnav {
  background-color:black;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #9B85A7;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-right: 120px;
  
}

.topnav #myLinks {
  display: block;
  margin-top: 15px;

  
}

/* Changing size and font of the 'Psyche' text logo */
.topnav a.active{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: #9B85A7;
    font-style: regular;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav a.icon {
  display: none;
}

/* Hiding non-animated title */
.title{
  display: none;
}

}

body {
  margin: 0;
  background-color: black;
}

canvas {
  display: block;
  vertical-align: bottom;
  
}

#copy{
  display:none;
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* To allow menu to be accessed */
 
}

.ScrollImgDesktop{
  position: absolute;
  bottom: -25px;
  right: 48%;
  height: 100px;
  width: auto;
  
}

.desktopIMG {  
width: 50px;  
height: auto;  
}  

.ScrollImg{
  display: none;
}

.ScrollTextDesktop{
  color: #FFFFFF;
  font-family: Trebuchet;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: 47%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.click-func{
  z-index: 1;
}







